
<div class="row">
  <%= form_for(@student) do |f| %>

  	<% if show_id %>
			<h3>Student <%= @student.id %></h3>
  	<% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <br/>
    <%= f.submit "save", :class => "btn btn-primary" %>
    <%= link_to "cancel", @student, :class => "btn" %>

  <% end %>
</div>