
<h3>Student <%= @student.id %></h3>

<p>First name: <%= @student.first_name %></p>

<p>Last name: <%= @student.last_name %></p>

<p><%= link_to "edit",  edit_student_path(@student) %> | <%= link_to "all",  students_path %> | <%= link_to "new",  new_student_path %> </p>



